@import url('http://fonts.googleapis.com/css?family=Bree+Serif|MerriWeather');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body {
	background-color : darken($base2, 80);
	color : lighten($blue , 20);
	font-family : $font-primary;
	font-size : 1.2rem;
}
#{headings()}{
	font-family : $font-secondary;
	font-weight : normal;
	line-height : 160%;
	font-size : 1.2rem;
}