// speakers -------------------------------------
.speakerslist{
	
}

// social icons -------------------------------------
.socialmedia {
	&>span {
		float : left;
	}
	.social-item{
		img{
			float : left;
			@include border-radius(50%);
			width : 64px;
			padding :0;
		}
	}

}

.box{
	margin: 0 auto 25px;
	border:1px-solid;
	padding: 15px;
	border-radius:5px;
	em{
		text-decoration : underline;
	}
}

.important {
	@include colored_box($red);
}
.success{
	@include colored_box($green);
}