// speakers -------------------------------------
.speakerslist{
	
}

// social icons -------------------------------------
.socialmedia {
	&>span {
		float : left;
	}
	.social-item{
		img{
			float : left;
			@include border-radius(50%);
			width : 30px;
			padding : 5px 0;
		}
	}

}

.box{
	margin: 0 auto 25px;
	border:1px-solid;
	padding: 15px;
	border-radius:5px;
	em{
		text-decoration : underline;
	}
}

.important {
	@extend .box;
	background-color: #ffe5e5;
	border-color: red;
}
.success{
	@extend .box;
	background-color: #e6fffe;
	border-color: green;
}