/*This is a comment for developers*/
@import url("http://fonts.googleapis.com/css?family=Bree+Serif|MerriWeather");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
/* line 5, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 4, ../components/sass/_base.scss */
body {
  background-color: #1f1a0c;
  color: #78b9e6;
  font-family: MerriWeather, Serif;
  font-size: 1.2rem;
  line-height: 160%; }

/* line 11, ../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Bree Serif, Serif;
  font-weight: normal;
  text-shadow: #586e75 1px 1px; }

/* line 16, ../components/sass/_base.scss */
h1 {
  overflow: hidden;
  *zoom: 1; }

/* line 19, ../components/sass/_base.scss */
a {
  text-decoration: none;
  color: #268bd2; }
  /* line 22, ../components/sass/_base.scss */
  a:hover {
    color: #dc322f; }

/* line 27, ../components/sass/_base.scss */
p {
  margin-bottom: 10px; }

/* line 14, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/susy-2.2.2/sass/susy/language/susyone/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 15, ../components/sass/_layout.scss */
.layout {
  *zoom: 1;
  max-width: 61em;
  _width: 61em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 3%; }
  /* line 38, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .layout:after {
    content: "";
    display: table;
    clear: both; }
  /* line 19, ../components/sass/_layout.scss */
  .layout .primary {
    margin-top: .2em; }
    @media (min-width: 45em) {
      /* line 19, ../components/sass/_layout.scss */
      .layout .primary {
        width: 66.10169%;
        float: left;
        margin-right: 1.69492%; }
        /* line 26, ../components/sass/_layout.scss */
        .layout .primary #nextmeeting {
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          border-radius: 20px;
          color: #ffe182;
          margin-bottom: 10px;
          background: #2aa198;
          padding: 0 20px 20px 20px; }
          /* line 35, ../components/sass/_layout.scss */
          .layout .primary #nextmeeting h1 {
            color: #1a645f;
            border: none;
            text-shadow: none;
            margin-bottom: 20px; }
          /* line 41, ../components/sass/_layout.scss */
          .layout .primary #nextmeeting a {
            color: #268bd2; } }
  @media (min-width: 45em) {
    /* line 50, ../components/sass/_layout.scss */
    .layout .secondary {
      width: 32.20339%;
      float: right;
      margin-right: 0;
      font-size: 1.1rem; }
      /* line 54, ../components/sass/_layout.scss */
      .layout .secondary h1 {
        font-size: 1.8rem;
        color: #cb4b16; } }

/* line 65, ../components/sass/_layout.scss */
header img {
  width: 95%;
  margin: 2.5%;
  max-width: 1000px;
  margin-bottom: 0; }
/* line 73, ../components/sass/_layout.scss */
header .hero {
  width: 100%; }
  @media (min-width: 45em) {
    /* line 73, ../components/sass/_layout.scss */
    header .hero {
      position: relative;
      display: block;
      widows: 100%;
      height: 450px;
      background: url('../images/thumbnails/img-100.png?1423909104'); } }

/* line 89, ../components/sass/_layout.scss */
.navigation {
  background: #f9fcfe; }
  /* line 93, ../components/sass/_layout.scss */
  .navigation ul.nav li i {
    color: #ffd44f;
    padding-right: .5em; }
  /* line 97, ../components/sass/_layout.scss */
  .navigation ul.nav li a {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    color: #4f3c00; }

/* line 4, ../components/sass/_modules.scss */
.speakerslist .speakers img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/* line 12, ../components/sass/_modules.scss */
.socialmedia > span {
  float: left; }
/* line 16, ../components/sass/_modules.scss */
.socialmedia .social-item img {
  float: left;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 5px 0; }
