/*This is a comment for developers*/
/* line 4, ../components/sass/style.scss */
body {
  background-color: #fefef9;
  max-width: 66em;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  body:after {
    content: " ";
    display: block;
    clear: both; }
